{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">Coding in School and Universities are fucking bad.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Coding in School and Universities are fucking bad. They are going to ruin the future. We are here yo solve your coding problem. Learn coding for free, live classes and practice absolutely free.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}